.moderation-notes-tooltip {
  position: absolute;
  background: #277abd;
  border: 0;
  border-radius: 5px;
  color: white;
  transition: background .5s ease;
  padding: 6px 1em;
  font-size: 12px;
  font-family: "Lucida Grande", 'Lucida Sans Unicode','liberation sans', sans-serif;
}

.moderation-notes-tooltip:hover,
.moderation-notes-tooltip:focus {
  outline: none;
  border: 0;
  color: white;
  background: #46a0f5;
}

.moderation-notes-tooltip::after {
  content: " ";
  position: absolute;
  left: calc(50% - 10px);
  top: 100%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #277abd;
  transition: border-top .5s ease;
}

.moderation-notes-tooltip:hover::after,
.moderation-notes-tooltip:focus::after{
  border-top: 10px solid #46a0f5;
}

.moderation-note-highlight {
  background: yellow;
  transition: background .5s ease;
}

.moderation-note-contextual-highlight {
  background: #b7d2ff;
}

.moderation-note-sidebar-wrapper {
  padding-bottom: 150px;
}

.moderation-note, .moderation-note-form {
  background: #2d6c9e;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  margin-top: 10px;
}

@keyframes moderation-note-form-delete {
  from { background: #2d6c9e; }
  to   { background: #b53535; }
}

@keyframes moderation-note-form-delete-actions {
  from {
    background: #4787b9;
    color: #85bef4;
  }
  to   {
    background: #b94747;
    color: #EFC2C2;
  }
}

.moderation-note-form-delete {
  background: #b53535;
  animation: moderation-note-form-delete 1s;
}

.ui-dialog .ui-dialog-content .moderation-note-form.moderation-note-form-delete .form-actions,
.moderation-note-form.moderation-note-form-delete input[type="submit"] {
  background: #b94747;
  color: #EFC2C2;
  animation: moderation-note-form-delete-actions 1s;
}

.moderation-note-form.moderation-note-form-delete input[type="submit"]:hover {
  background: #893737;
}

.moderation-note .moderation-note-text {
  min-height: 100px;
}

.moderation-note .moderation-note-owner,
.moderation-note .moderation-note-owner a {
  font-size: 12px;
  text-align: right;
}

.moderation-note a {
  color: #85bef4;
  border: 0;
}

.moderation-note a:hover {
  color: #46a0f5;
}

.moderation-note-quote-information {
  background: #245780;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #4787b9;
}

.moderation-note-quote-information blockquote {
  background: none;
  border: 0;
  margin: 5px;
  padding: 0;
}

.moderation-note-quote-information p {
  margin: 0;
  font-size: 12px;
}

.ui-dialog .moderation-note-quote-information {
  display: none;
}

.moderation-note .moderation-note-actions, .ui-dialog .ui-dialog-content .moderation-note-form .form-actions, .moderation-note-form .form-actions {
  background: #4787b9;
  padding-top: 0;
  text-align: right;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-top: 10px;
  width: calc(100% + 20px);
}

.moderation-note-reply, .moderation-note-form-reply {
  margin-left: 15px;
}

.moderation-note-actions a, .ui-dialog-offcanvas .moderation-note-actions a, .moderation-note-form input[type="submit"] {
  background: #4787b9;
  color: #85bef4;
  font-size: 13px;
  margin: 0;
  display: inline-block;
  padding: 10px;
  width: initial;
  border-radius: 0;
  border: 0;
  transition: .2s ease;
}

.moderation-note-actions a:hover, .ui-dialog-offcanvas .moderation-note-actions a:hover, .moderation-note-form input[type="submit"]:hover {
  background: #376189;
  border: 0;
  color: white;
}

.ui-dialog-offcanvas .moderation-note-form .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
