#moderation-notes-tooltip {
  position: absolute;
  background: #277abd;
  border: 0;
  border-radius: 5px;
  color: white;
  transition: background .5s ease;
  padding: 6px 1em;
  font-size: 12px;
  font-family: "Lucida Grande", 'Lucida Sans Unicode','liberation sans', sans-serif;
}

#moderation-notes-tooltip:hover {
  outline: none;
  border: 0;
  background: #46a0f5;
}

#moderation-notes-tooltip:focus {
  outline: none;
}

#moderation-notes-tooltip::after {
  content: " ";
  position: absolute;
  left: calc(50% - 10px);
  top: 100%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #277abd;
  transition: border-top .5s ease;
}

#moderation-notes-tooltip:hover::after {
  border-top: 10px solid #46a0f5;
}
